<span id='make_tod'>
  <%= link_to_remote('Cancel ToD', :update=>'make_tod',:url=>{:controller=>:picture,:action=>:force_tod,:id=>picture.id},:confirm=>'Are you sure you want to cancel this as the Tag of the Day?',:html=>{:class=>'button'}) %>
</span>